header{
    border: 1px solid green;
}

main{
    clear: both;
}

.equipo{
    border: 1px solid red;
    margin: 5px;
}

.equipo-estadio{
    padding: 10px;
    border-top: 2px solid #673ab7;
    border-bottom: 2px solid #673ab7;
    margin-bottom: 10px;
    text-align: center;
}

.competicion-logo{
    height: 50px;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #673ab7;
    padding: 30px;
    position: relative;
}



img#logo-liga {
    left: 10px;
    position: absolute;
    height: 100px;
    

}

h1#nombre-liga, h2#jornada-actual{
    text-align: center;
    color: white;
    margin: 0;
}

div.equipo {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;

    
}

.fundacion {
    font-weight: bold;
    text-align: center;
    background-color: #673ab7;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;

}

.equipo h2 {
    margin: 0;
    font-size: 24px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.equipo img {
    height: 120px;
    
}

.estadio {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0;
    margin-top: 10px;
}

.competiciones img {
    height: 50px;
    margin: 5px;
}

button {
    background-color: #673ab7;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #5a2d91;
}
body {
    font-family: 'Lato', sans-serif;
  }
  
.nombre-equipo {
    /* Estilos para el nombre del equipo */
  }
  
.entrenador {
    /* Estilos para la información del entrenador */
  }
  
  .imagen-equipo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* Estilos para la imagen del equipo */
  }
  
  .tabla-jugadores {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
    /* Estilos para la tabla de jugadores */
  }
  
  .tabla-jugadores th,
  .tabla-jugadores td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    /* Estilos para las celdas de cabecera y celdas normales */
  }
  
  .tabla-jugadores th {
    background-color: #f0f0f0;
    /* Estilos para las celdas de cabecera */
  }
  

