body {
    font-family: 'Lato', sans-serif;
  }
  
  .nombre-equipo {
    /* Estilos para el nombre del equipo */
  }
  
  .entrenador {
    
}
  
  .imagen-equipo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* Estilos para la imagen del equipo */
  }
  
  .tabla-jugadores {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
    /* Estilos para la tabla de jugadores */
  }
  
  .tabla-jugadores th,
  .tabla-jugadores td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    /* Estilos para las celdas de cabecera y celdas normales */
  }
  
  .tabla-jugadores th {
    background-color: #f0f0f0;
    /* Estilos para las celdas de cabecera */
  }
  