body {
    font-family: 'Lato', sans-serif;
  }
  
  .nombre-equipo {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: #673ab7;
    font-weight: bold;
  }
  
  .entrenador {
    text-align: center;
}
  
  .imagen-equipo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tabla-jugadores {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
  }
  
  .tbody {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: #673ab7;
    color: white;
  }

  .th,td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }